# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.RData
.Rproj.user
ChildWellness.Rproj
*.pper
*.pper
.Rproj.user/F053E294/pcs/windowlayoutstate.pper
.Rproj.user/F053E294/pcs/debug-breakpoints.pper
.Rproj.user/F053E294/sdb/prop/INDEX
*.pper
.Rproj.user/F053E294/sdb/prop/INDEX